<div class="main-room-details main-container">
  <div class="room-main-info">
    <div class="room-name">{{room.title}}</div>
    <div class="room-rating"><img src="/img/star.png" />4.57</div>
    <div class="room-location">{{room.city}}, {{room.state}}</div>
    <div class="room-image">
      <img src='/photos/{{room.image}}' alt="{{room.image}}">
    </div>
  </div>

  <div class="room-more-info row">
    <div class="col-md-7">
      <div id="room-info">
        <span class="room-type">{{room.type}}</span>
        <span><button id="save-button"><img src="/img/heart-blank.png" /> Save</button></span>
        <span><button id="share-button"><img src="/img/share.png" /> Share</button></span>
        <div class="room-numbers-of-rooms">
          <span class="nums">{{room.roomNums}} </span><span class="s"></span>
        </div>
        <hr />
      </div>
      <div id="room-description">
        <div>
          {{room.description}}
        </div>
        <br />
        <hr />
      </div>
      
    </div>
    <div id="room-reserve" class="col-md-5">
      <form action="/book-now/{{room._id}}" method="POST" enctype="application/x-www-form-urlencoded" class="reserve-form">
        <div class="room-price"><b>${{room.price}}</b> / night</div>
        <div class="room-rating"><img src="/img/star.png" />4.57</div>
        <br /><br />
        <div id="check-in-cont">
          <label for="check-in">Check-in:</label>
          <br />
          <input type="date" id="check-in" name="checkIn" min="2020-10-02" max="2022-01-01"
            placeholder="Choose date" />
        </div>

        <div id="check-out-cont">
          <label for="check-out">Check-out:</label>
          <br />
          <input type="date" id="check-out" name="checkOut" min="2020-10-02" max="2022-01-01"
            placeholder="Choose date" />
        </div>

        <div id="guests-cont">
          <label for="guests">Guests:</label>
          <br />
          <input type="number" min="1" name="guests" placeholder="Add guests" />
        </div>
        <div class="button-cont">
          <input id="reserve-button" type="submit" class="btn btn-info" value="Reserve">
        </div>
      </form>
    </div>

  </div>
</div>

