<div class="main-room-listing main-container">
  {{>searcher}}
  <div class="room-listing-cont">
    <div class="intro">Find your stays in {{city}}</div>
    <div class="listing fluid-container">
      {{#if rooms}}
      <div class="row">
        {{#each rooms}}
        <div class="room col-md-4">
          <a href="/room-details/{{this._id}}">
            <div class="room-image"><img src="/photos/{{this.image}}" /></div>
            <div class="room-location">{{this.city}}, {{this.state}}</div>
            <div class="room-name">{{this.title}}</div>
            <div class="room-description"><span>{{this.type}}</span> - <span class="nums">{{this.roomNums}} </span><span class="s"></span></div>
            <div class="room-rating"><img src="/img/star.png" />4.57</div>
            <div class="room-price">${{this.price}} CAD / night</div>
          </a>
        </div>
        {{/each}}
      </div>
      {{else}}
      <div class="message">There are currently no rooms available in {{city}}. Please search for another city.</div>
      {{/if}}
      {{!-- <div class="room col-md-4">
        <a href="/room-details">
          <div class="room-image"><img src="img/room2.jpg" /></div>
          <div class="room-location">Toronto, Ontario, Canada</div>
          <div class="room-name">Executive Studio - ACC/MTCC/CN+ Easy Parking</div>
          <div class="room-description">2 guests - Studio - 1 bed - 1 bath <br> Wifi - Kitchen - Air Conditioning</div>
          <div class="room-rating"><img src="/img/star.png" />4.77</div>
          <div class="room-price">$127 CAD / night</div>
        </a>
      </div>

      <div class="room col-md-4">
        <a href="/room-details">
          <div class="room-image"><img src="img/room3.jpg" /></div>
          <div class="room-location">Toronto, Ontario, Canada</div>
          <div class="room-name">Corner Unit Heart of Downtown & Financial district</div>
          <div class="room-description">2 guests - 1 bedroom - 1 bed - 1 bath <br> Wifi - Kitchen - Air Conditioning
          </div>
          <div class="room-rating"><img src="/img/star.png" />4.94</div>
          <div class="room-price">$122 CAD / night</div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="room col-md-4">
        <a href="/room-details">
          <div class="room-image"><img src="img/room4.jpg" /></div>
          <div class="room-location">Toronto, Ontario, Canada</div>
          <div class="room-name">Panoramic view,downtown,Liberty Village/exhibition</div>
          <div class="room-description">2 guests - Studio - 1 bed - 1 bath <br> Free parking - Wifi - Kitchen - Air
            Conditioning</div>
          <div class="room-rating"><img src="/img/star.png" />4.73</div>
          <div class="room-price">$100 CAD / night</div>
        </a>
      </div>

      <div class="room col-md-4">
        <a href="/room-details">
          <div class="room-image"><img src="img/room5.jpg" /></div>
          <div class="room-location">Toronto, Ontario, Canada</div>
          <div class="room-name">Downtown Yorkville Entire Place, Balcony Studio</div>
          <div class="room-description">2 guests - Studio - 1 bed - 1 bath <br> Wifi - Kitchen - Air Conditioning</div>
          <div class="room-rating"><img src="/img/star.png" />4.83</div>
          <div class="room-price">$105 CAD / night</div>
        </a>
      </div>

      <div class="room col-md-4">
        <a href="/room-details">
          <div class="room-image"><img src="img/room6.jpg" /></div>
          <div class="room-location">Toronto, Ontario, Canada</div>
          <div class="room-name">Executive Studio - ACC/MTCC/CN+ Easy Parking</div>
          <div class="room-description">2 guests - Studio - 1 bed - 1 bath <br> Wifi - Kitchen - Air Conditioning</div>
          <div class="room-rating"><img src="/img/star.png" />4.74</div>
          <div class="room-price">$127 CAD / night</div>
        </a>
      </div> 
    </div>--}}
    </div>
  </div>
</div>