<div class="main-room-listing main-container">
  {{>searcher}}
  <div class="room-listing-cont">
    <div class="intro">Find your stays in {{city}}</div>
    <div class="listing fluid-container">
      {{#if rooms}}
      <div class="row">
        {{#each rooms}}
        <div class="room col-md-4">
          <a href="/room-details/{{this._id}}">
            <div class="room-image"><img src="/photos/{{this.image}}" /></div>
            <div class="room-location">{{this.city}}, {{this.state}}</div>
            <div class="room-name">{{this.title}}</div>
            <div class="room-description"><span>{{this.type}}</span> - <span class="nums">{{this.roomNums}} </span><span class="s"></span></div>
            <div class="room-rating"><img src="/img/star.png" />4.57</div>
            <div class="room-price">${{this.price}} CAD / night</div>
          </a>
        </div>
        {{/each}}
      </div>
      {{else}}
      <div class="message">There are currently no rooms available in {{city}}. Please search for another city.</div>
      {{/if}}
    </div>
  </div>
</div>